mixin discount()
  section.discount
    .container
      .discount__wrapper
        .discount__text
          h2.discount__title Баня со&nbsp;скидкой!
          p Подпишитесь на&nbsp;наши рассылки, чтобы быть в&nbsp;курсе действующих акций и&nbsp;скидок
          button.btn(target=_self, rel=rel, type=button) Подписаться
        .discount__img
