mixin discount()
  section.discount
    .container
      .discount__wrapper
        .discount__text
          h2.discount__title Баня со скидкой!
          p Подпишитесь на наши рассылки, чтобы быть в курсе действующих акций и скидок
          button.btn(target=_self, rel=rel, type=button) Подписаться
        //- .discount__img
        //-   picture
        //-     +source('(min-width: 1601px)', 'img/discount/discount.png')
        //-     +source('(max-width: 1600px)', 'img/discount/discount-tablet.png')
        //-     +source('(max-width: 767px)', 'img/discount/discount-mobile.png')
        //-     +img("discount", "discount", "png", 559, 342, "Изображение банных принадлежностей.")
