.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 865px;
  padding: 0 30px;

  &__link {
    color: $color-default-black;

    // &.is-active {
    //   opacity: 0.6;
    // }
  }
}
